.about-sec-container {
  width: 120rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1.5fr auto;
  column-gap: 15rem;

  padding: 4rem 2rem;
}

.about-sec-container h1 {
  font-size: 2rem;
}

.about-sec-container h1 span {
  font-size: 3rem;
  letter-spacing: 1px;
  display: inline-block;
  margin-bottom: 1rem;
}

.about-sec-container p {
  font-size: 1.8rem;
  line-height: 23px;
  margin: 0;
}
.about-sec-text p {
  margin-bottom: 1.6rem;
}

/*  */

.skills-side {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.skills-side-img-box {
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-side-img {
  height: 5rem;
}

.skills-side-container h2 {
  font-size: 2rem;
}
