.mainlogo {
  height: 11rem;
  width: 30rem;
  background-image: url("../imgs/FNCG-LOGO.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  scale: 0.8;
}

.mainlogo.passive-logo {
  filter: opacity(40%);
}
